*{
    box-sizing: border-box;
    margin: 0px;
    padding:opx;
}
.container-a{
    background: linear-gradient( 120deg, white 50%, yellow 50%);
    
}
#bar .burger-logo img{
    margin-left: 20px;
    margin-top: 5px;
    height: 100px;

}
#bar .burger-logo h2{
    display: inline;
    margin-top: 20px;
    font-family: lobster;
    font-size: 30px;
}
#bar .burger-logo h2 span{
    color: yellow;
}
#bar .burger-logo{
    display: flex;
}
.menu{
    margin-left: 25%;
    text-align: center;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu ul li{
    width: 100px;
    padding: 15px;
    margin: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}
.container-b{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
}
.texts{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
.texts div{
    text-align: left;
    
}
.texts p:first-child{ 
    font-size: 24px;
    font-weight: 700;
}
.texts p:nth-child(2){
    font-size: 25px;
    font-weight: 700;
}
.order{
    margin: 30px 50px;
    width: 150px;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    background-color: darkorange;
    color: white;
}
.head-image{
width: 50%;
position: relative;

}
img{
    height: 100px;
    float: top left;
    margin: 20px;

}
.quality-b{
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 300px;
}
.section-a{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.section-a div{
    border: 1px groove;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.quality{
flex:1;

}
.delivery{
flex: 1;
}
.meals{
flex: 1;

}
.section-b h3{
    text-align:center;
    font-size: 30px;
    font-family: 'poppins';
}
.section-b h3 span{
    color: yellow;
}
.section-c{
    display: flex;
}
.section-c div{
    border: 1px groove;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.burger1{
    flex: 1;
}
.burger2{
    flex: 1;
}
.burger3{
    flex: 1;
}
.section-d{
    display: flex;
}
.section-d div {
    border: 1px groove;
    padding: 10px;
    margin: 10px; 
    border-radius: 20px;
}
.pricing1{
    flex: 1;
}
.pricing2{
flex: 1;
}
.pricing3{
    flex: 1;
}