*{
    box-sizing: border-box;
    margin: 0px;
    padding:opx;
}
#bar .burger-logo img{
    margin-left: 20px;
    margin-top: 5px;

}
#bar .burger-logo h2{
    display: inline;
    margin-top: 20px;
    font-family: lobster;
    font-size: 35px;
}
#bar .burger-logo h2 span{
    color: yellow;

}
#bar .burger-logo{
    display: flex;
}
.menu{
    margin-left: 25%;
    text-align: center;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu ul li{
    width: 100px;
    padding: 15px;
    margin: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}
#part-1{
    display: flex;
}
.section-a{
    padding-left: 80px;
    padding-top: 80px;
}
#part-1 .texts .prgh1{
font-family:'poppins';
font-weight: bold;
font-size: 25px;
margin: 25px 20px;
}
#part-1 .texts .prgh2{
    font-family: 'poppins';
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 25px 20px;
}
.order{
    margin: 30px 50px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: darkorange;
    color: white;
}
.container{
    width: 100px;
    display: flex;
}
.container .quality img{
width: 100px;
flex: 1;
margin: 20px;
padding: 20px 10px;
}