*{
    box-sizing: border-box;
    margin: 0px;
    padding:opx;
}
#bar .burger-logo img{
    margin-left: 20px;
    margin-top: 5px;
    height: 100px;

}
#bar .burger-logo h2{
    display: inline;
    margin-top: 20px;
    font-family: lobster;
    font-size: 30px;
}
#bar .burger-logo h2 span{
    color: yellow;


}
#bar .burger-logo{
    display: flex;
}
.menu{
    margin-left: 25%;
    text-align: center;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu ul li{
    width: 100px;
    padding: 15px;
    margin: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}
#part-1{
    display: flex;
}
.section-a{
    padding-left: 80px;
    padding-top: 80px;
}
#part-1 .texts .prgh1{
font-family:'poppins';
font-weight: bold;
font-size: 25px;
margin: 25px 20px;
}
#part-1 .texts .prgh2{
    font-family: 'poppins';
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 25px 20px;
}
.order{
    margin: 30px 50px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: darkorange;
    color: white;
}
img{
    height: 100px;
    float: top left;
    margin: 20px;
}
.container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.container div{
    border: 1px groove;
    padding: 10px;
    margin: 10px;
}
.quality{
flex:1;

}
.delivery{
flex: 1;
}
.meals{
flex: 1;

}
.section-b h3{
    text-align:center;
    font-size: 30px;
    font-family: 'poppins';
}
.section-b h3 span{
    color: yellow;
}
.part3{
    display: flex;
}
.part3 div{
    border: 1px groove;
    padding: 10px;
    margin: 10px;
}
.burger1{
    flex: 1;
}
.burger2{
    flex: 1;
}
.burger3{
    flex: 1;
}